{% extends 'base.html.twig' %}
{% block title %} Short link {% endblock %}
{% block body %}
    <p>OK!</p>
    <p>Request URI to : {{request_uri}}</p>

    <p>Long URL is :{{ longurl }}</p>
    <p>Shoort URL is: {{shortURL}}</p>

    <h3>full adres {{fullURL}}</h3>

{% endblock %}